* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-size: 16px;
}
body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
h1{
    font-size: 2rem;
    font-family: cursive;
    margin-bottom: 15rem;
    color: whitesmoke;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
.container {
    z-index: 10;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 40vw;
    padding: 5px;
}
.container img {
    padding-left: 20px;
    position: absolute;
}
.input-container {
    margin-top: 2rem;
    display: flex;
    gap: 10px;
    transform: scale(1.6) translateX(100px);
    cursor: pointer;
}
span {
    font-family: cursive;
    color: white;
}
.size {
    font-size: 3rem;
    color: whitesmoke;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    position: absolute;
    right: 30%;
    top: 60%;
    background: #3f77e5;
    min-width: 100px;
    min-height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1mm solid whitesmoke;
    box-shadow: 1px 1px 12px black;
}




















@keyframes cube {
    from {
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
    }
    to {
        transform: scale(20) rotate(960deg) translate(-50%, -50%);
        opacity: 0;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #4785ff;
    overflow: hidden;
    z-index: 0;
}
.background li {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #3f77e5;
    color: transparent;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 7s ease-in forwards infinite;
}
undefined
.background li:nth-child(0) {
    animation-delay: 0s;
    left: 95vw;
    top: 88vh;
}

.background li:nth-child(1) {
    animation-delay: 2s;
    left: 63vw;
    top: 18vh;
    border-color: #4e92ff;
}

.background li:nth-child(2) {
    animation-delay: 4s;
    left: 66vw;
    top: 53vh;
}

.background li:nth-child(3) {
    animation-delay: 6s;
    left: 17vw;
    top: 57vh;
    border-color: #4e92ff;
}

.background li:nth-child(4) {
    animation-delay: 8s;
    left: 42vw;
    top: 94vh;
    border-color: #4e92ff;
}

.background li:nth-child(5) {
    animation-delay: 10s;
    left: 18vw;
    top: 77vh;
    border-color: #4e92ff;
}

.background li:nth-child(6) {
    animation-delay: 12s;
    left: 73vw;
    top: 6vh;
    border-color: #4e92ff;
}

.background li:nth-child(7) {
    animation-delay: 14s;
    left: 46vw;
    top: 28vh;
}

.background li:nth-child(8) {
    animation-delay: 16s;
    left: 83vw;
    top: 12vh;
    border-color: #4e92ff;
}

.background li:nth-child(9) {
    animation-delay: 18s;
    left: 35vw;
    top: 68vh;
    border-color: #4e92ff;
}

.background li:nth-child(10) {
    animation-delay: 20s;
    left: 4vw;
    top: 37vh;
    border-color: #4e92ff;
}
